@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    padding: 0;
    margin: 0;
  }

  /* html {
    scroll-behavior: smooth;
  } */

  body {
    @apply font-primary bg-primary text-black;
  }

  a {
    text-decoration: none;
  }

  ::selection {
    color: black;
    background: lemonchiffon;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}